.header{
    height:50px;
    background:black;
    width:100%;
}

img{
    vertical-align: middle;
}

.pull-right{
    float: right ! important;
}

.header li{
    margin-right: 15px;
    list-style: none;
    font-size: 18px;
    color: white;

}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-pills >li>a{
    border-radius: 4px;
    
}

.nav>li>a{
    display: block;
    padding: 10px 15px;
}


.main-head{
    background:whitesmoke;
    height:150px;
    width:100%;
}

.main-head .container{
    padding: 30px 60px;
}

.main-head .container li{
    display: inline-block;
    margin-right: 15px;
    color: black;
    text-transform: uppercase;
}

.main-head img{
    position: relative;
    top: 30px;
}


.options{
    text-align: center;

}

/*---First Block image---*/

.nixon-image{
    height:570px;
    overflow: hidden;
}

.w100{
    width:100%;
}
