.header{
    height:50px;
    background:black;
    width:100%;
}

img{
    vertical-align: middle;
}

.pull-right{
    float: right ! important;
}

.header li{
    margin-right: 15px;
    list-style: none;
    font-size: 18px;
    color: white;

}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-pills >li>a{
    border-radius: 4px;
    
}

.nav>li>a{
    display: block;
    padding: 10px 15px;
}


.main-head{
    background:whitesmoke;
    height:150px;
    width:100%;
}

.main-head .container{
    padding: 30px 60px;
}

.main-head .container> li{
    display: inline-block;
    margin-right: 93px;
    color: black;
    text-transform: uppercase;
    list-style: none;
}


.main-head img{
    position: relative;
    top: 10px; 
}

.main-head .options {
    display: inline-block;
    list-style: none;
    margin-left: 30px;
    text-align: center;
    position: relative;
    top: 38px;
}

.main-head .options> li{
    display: inline-block;
    margin-right: 118px;
}

.main-head .options>li>a{
    color: black;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
    left: 800;
    max-width: 197px;
    bottom: 24px;
}


/*---First Block image---*/

.nixon-image{
    height:570px;
    overflow: hidden;
    margin-bottom: 30px;
}

.w100{
    width:100%;
}
